@import './assets/styles/markdown.css';
@import './assets/styles/output.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--el-fill-color);
}

::-webkit-scrollbar-thumb {
  background: var(--el-text-color-regular);
  border-radius: 3px;
}
