@import './assets/styles/markdown.css';
@import './assets/styles/output.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--el-text-color-regular);
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--el-fill-color);
}

::-webkit-scrollbar-thumb {
  background: var(--el-text-color-regular);
  border-radius: 3px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: var(--el-text-color-regular);
}

a:link {
  text-decoration: none;
  color: var(--el-text-color-regular);
}

a:visited {
  text-decoration: none;
  color: var(--el-text-color-regular);
}

a:hover {
  text-decoration: none;
  color: var(--el-color-primary);
}

a:active {
  text-decoration: none;
  color: var(--el-text-color-regular);
}
